/* footer */
#main-footer ul li a {
  color: white !important;
  font-size: 12px;
}

.social-links {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-links a img {
  width: 25px;
  height: 25px;
}
